@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto.woff2') format('woff');
    font-weight: bold;
    //   font-style: normal;
}

ion-toolbar {
    margin-left: -80px;
    margin-top: -10px;
}

ion-content {
    text-align: center;
    font-family: 'Roboto';
}

ion-title {
    padding: auto;
    margin: auto;
    margin-left: 80px;
}

ion-item {
    margin: auto;
    width: 70%;
}

ion-nav-link {
    font-size: 14px;
    display: block;
    margin: 10px auto;
}

.button {
    margin: 30px 100px;
}

.logo-img {
    margin: auto;
    margin-bottom: 20px;
    height: 40px;
    width: 24px;
}

.title {
    font-size: 16px;
}