<ion-content color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>REGISTRO</ion-title>
    </ion-toolbar>

    <ion-thumbnail class="logo-img">
        <img src="../../../assets/img/logo.png" />
    </ion-thumbnail>

    <ion-text class="title">FLY ORDER</ion-text>

    <ion-item color="dark">
        <ion-input type="text" placeholder="Correo electrónico"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button shape="round" color="light" expand="block" class="button">Iniciar sesión
    </ion-button>

    <ion-nav-link routerDirection="back" component="nav-profile">Aún no tengo cuenta.
    </ion-nav-link>
</ion-content>