@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto.woff2') format('woff');
    font-weight: bold;
    //   font-style: normal;
}

ion-content {
    text-align: center;
    font-family: 'Roboto';
}

ion-title {
    display: block;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

ion-textarea {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: light;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 17px;
    margin: 70px auto;
    padding: 0 20px;
}

ion-text h2 {
    font-family: 'Roboto';
    font-weight: light;
    margin-bottom: 20px;
    margin-top: 30px;
}

.description-location {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: light;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 17px;
    padding: 0 20px;
}

.location-img {
    margin: auto;
    margin-top: -70px;
    height: 215px;
    width: 226px;
}

.buttons {
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.button {
    width: 46%;
    text-transform: none;
}