@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto.woff2") format("woff");
    font-weight: bold;
}

ion-toolbar {
    margin-left: -80px;
    margin-top: -10px;
}

ion-content {
    text-align: center;
    font-family: "Roboto";
}

ion-title {
    padding: auto;
    margin: auto;
    margin-left: 80px;
}

ion-item {
    margin: auto;
    width: 70%;
}

p {
    font-size: 0.8em;
    color: #f10000;
    padding: 0px;
    margin: 0;
}

ion-icon {
    margin-right: 10px;
    width: 20px;
}

ion-nav-link {
    font-size: 14px;
    display: block;
    margin: 10px auto;
}

.button {
    margin: 30px 100px;
}

.logo-img {
    margin: auto;
    margin-bottom: 20px;
    height: 40px;
    width: 24px;
}

.title {
    font-size: 16px;
}

.invalid {
    display: block;
    margin: 0px auto;
    position: relative;
    height: auto;
    .invalid-text {
        display: block;
        position: absolute;
        margin: 0px auto;
    }
}
