<ion-content color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>REGISTRO</ion-title>
    </ion-toolbar>

    <ion-thumbnail class="logo-img">
        <img src="../../../assets/img/logo.png" />
    </ion-thumbnail>

    <ion-text class="title">FLY ORDER</ion-text>

    <form [formGroup]="form">
        <ion-item color="dark" style="margin-top: 40px;">
            <ion-icon name="person-sharp"></ion-icon>
            <ion-input type="text" [(ngModel)]="client.name" placeholder="Nombre Completo" formControlName="name">
            </ion-input>
        </ion-item>
        <ion-item color="dark" *ngIf="form.controls.name.dirty && form.controls.name.invalid">
            <p *ngIf="form.controls.name.errors.required">Nombre requerido</p>
            <p *ngIf="form.controls.name.errors.pattern">El nombre ingresado no es válido</p><br>
        </ion-item>
        <ion-item color="dark">
            <ion-icon name="locate-sharp"></ion-icon>
            <ion-input type="text" [(ngModel)]="client.address" placeholder="Dirección" formControlName="address">
            </ion-input>
        </ion-item>
        <ion-item color="dark" *ngIf="form.controls.address.dirty && form.controls.address.invalid">
            <p *ngIf="form.controls.address.errors.required">Dirección requerida</p>
            <p *ngIf="form.controls.address.errors.minlength">La dirección ingresasa no es valida</p>
        </ion-item>
        <ion-item color="dark">
            <ion-icon name="map-sharp"></ion-icon>
            <ion-input type="text" [(ngModel)]="client.city" placeholder="Ciudad" formControlName="city"></ion-input>
        </ion-item>
        <ion-item color="dark" *ngIf="form.controls.city.dirty && form.controls.city.invalid">
            <p *ngIf="form.controls.city.errors.required">Ciudad requerida</p>
            <p *ngIf="form.controls.city.errors.pattern">La ciudad ingresada no es válida</p><br>
        </ion-item>
        <ion-item color="dark">
            <ion-icon name="phone-portrait-sharp"></ion-icon>
            <ion-input type="text" [(ngModel)]="client.phone" placeholder="Celular" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item color="dark" *ngIf="form.controls.phone.dirty && form.controls.phone.invalid">
            <p *ngIf="form.controls.phone.errors.required">Número de celular requerido</p>
            <p *ngIf="form.controls.phone.errors.pattern">El número ingresado no es válido</p><br>
        </ion-item>
        <ion-item color="dark">
            <ion-icon name="mail-sharp"></ion-icon>
            <ion-input type="text" [(ngModel)]="client.email" placeholder="Correo electrónico" formControlName="email">
            </ion-input>
        </ion-item>
        <ion-item color="dark" *ngIf="form.controls.email.dirty && form.controls.email.invalid">
            <p *ngIf="form.controls.email.errors.required">Correo Electrónico requerido</p>
            <p *ngIf="form.controls.email.errors.pattern">Correo Electrónico Invalido</p>
        </ion-item>
        <ion-item color="dark">
            <ion-icon name="lock-closed-sharp"></ion-icon>
            <ion-input type="password" [(ngModel)]="client.password" placeholder="Contraseña"
                formControlName="password"></ion-input>
        </ion-item>
        <ion-item class="invalid" color="dark" *ngIf="form.controls.password.dirty && form.controls.password.invalid">
            <div class="invalid-text">
                <p *ngIf="form.controls.password.errors.required">Campo requerido</p>
            </div>
            <div class="invalid-text">
                <p *ngIf="form.controls.password.errors.pattern">La contraseña debe contener mayúsculas, minúsculas y
                    número</p>
            </div>
            <div class="invalid-text">
                <p *ngIf="form.controls.password.errors.minlength">La contraseña debe tener al menos 8 caracteres</p>
            </div>
        </ion-item>
        <ion-item color="dark">
            <ion-icon name="lock-closed-sharp"></ion-icon>
            <ion-input type="password" placeholder="Confirmar Contraseña" formControlName="password_check"></ion-input>
        </ion-item>
        <ion-item color="dark" *ngIf="form.controls.password_check.dirty && form.controls.password_check.invalid">
            <p *ngIf="form.controls.password_check.errors.required">Campo requerido</p>
            <p *ngIf="form.controls.password_check.errors.confirmedValidator">Las contraseñas no coinciden</p>
        </ion-item>
        <ion-button (click)="register(client)" shape="round" color="light" expand="block" class="button" [disabled]="!form.valid">Registrarme
        </ion-button>
    </form>

    <ion-nav-link routerDirection="back" component="nav-profile" (click)="routingSignin()">Ya tengo cuenta.
    </ion-nav-link>
    <ion-nav-link routerDirection="back" component="nav-profile" (click)="routingSignin()">Continuar sin registrarme.
    </ion-nav-link>
</ion-content>