<ion-content color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>REGISTRO</ion-title>
    </ion-toolbar>

    <ion-thumbnail class="logo-img">
        <img src="../../../assets/img/logo.png" />
    </ion-thumbnail>

    <ion-text class="title">FLY ORDER</ion-text>

    <ion-item color="dark" style="margin-top: 40px;">
        <ion-input type="text" [(ngModel)]="client.name" placeholder="Nombre Completo"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="text" [(ngModel)]="client.address" placeholder="Dirección"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="text" [(ngModel)]="client.city" placeholder="Ciudad"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="text" [(ngModel)]="client.phone" placeholder="Celular"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="text" [(ngModel)]="client.email" placeholder="Correo electrónico"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="password" [(ngModel)]="client.password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="password" placeholder="Confirmar Contraseña"></ion-input>
    </ion-item>

    <ion-button (click)="register(client)" shape="round" color="light" expand="block" class="button">Registrarme
    </ion-button>

    <ion-nav-link routerDirection="back" component="nav-profile" (click)="routingSignin()">Ya tengo cuenta.
    </ion-nav-link>
    <ion-nav-link routerDirection="back" component="nav-profile" (click)="routingSignin()">Continuar sin registrarme.
    </ion-nav-link>
</ion-content>